<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<root>
			<level value="DEBUG" />
			<!--<appender-ref ref="ConsoleAppender" />-->
			<appender-ref ref="FileAppender" />
		</root>

		<!-- コンソールへのログ設定 -->
		<!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>-->

		<!-- ファイルへの出力の設定例 -->
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="C:\home\test\DBlog-file.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- ログの出力先を指定する場合の設定例 -->
		<logger name="Namespace.Of.Your.Class">
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="FileAppender" />
		</logger>

	</log4net>
</configuration>